.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: auto;
    margin: auto;
    padding: 10px;
    border: 2.5px solid #ccc;
    box-sizing: border-box;
}
.article-item {
    border: 2.5px solid #ccc;
    padding: 5px;
    list-style: none;
    /* 至中 */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 統一的h1格式 */
.centered-title {
    text-align: center;
    font-size: 3vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.background {
    background-color: rgb(225, 246, 255, 0.5);
}

/* 導航選單格式 */
.navbar {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(113, 223, 215, 0.3); /* 导航栏背景色 */
    overflow: hidden; /* 如果导航内容太多，隐藏溢出部分 */
}

.nav-button {
    display: inline-block;
    color: white;
    text-align: center; 
    text-decoration: none;
}

.nav-button img {
    height: 7vh; /* 或您希望的高度 */
    width: auto; /* 保持图片的宽高比 */
    vertical-align: middle; /* 垂直居中 */
}




