
/* 按鈕通用格式 */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 

.bookshelf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: auto;
    margin: auto;
    padding: 10px;
    border: 2.5px solid #ccc;
    box-sizing: border-box;
}

.book {
    border: 2.5px solid #ccc;
    padding: 5px;
    list-style: none;
    /* 至中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnFormat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
