<!DOCTYPE html>
<html>
<head>
    <title>文章內容</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
    <script src="{{ url_for('static', filename='func.js') }}"></script>
</head>

<body class="background">
    <h1 class="centered-title">內文</h1>
    <div class="container">
        <div class="content-box" style="padding-left: 30px; padding-right: 30px;">
            <!-- 左右留一點空間讓自不要貼齊邊框 -->
            {{ content | safe }}
        </div>
        <div class="nav-bar-but">
            <div class="previous-page" >
                <a href="{{ url_for('article', book_name=book_name, filename=previous_filename) }}" class="previous-button">上一頁</a>
            </div>
            <!-- 返回首頁 -->
            <div class="menu" >
                <a href="{{ url_for('index') }}" class="menu-button">返回首頁</a>
            </div>
            <!-- 返回目錄 -->
            <div class="menu">
                <a href="{{ url_for('list_files', book_name=book_name) }}" class="menu-button">目錄</a>
            </div>
            <div class="next-page">
                <a href="{{ url_for('article', book_name=book_name, filename=next_filename) }}" class="next-button">下一頁</a>
            </div>
        </div>
    </div>

</body>
</html>
