<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body class="background">
    <!-- 導航選單 -->
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="nav-button">
            <img src="{{ url_for('static', filename='img/home3.png') }}" alt="Home">
        </a>
    </nav>
    <h1 class="centered-title">這是一個網站</h1>
    <div class="bookshelf">
        {% for book in books %}
            <div class="book">
                <!-- 插入圖片 /static/img/cover.png -->
                <a href="{{ url_for('list_files', book_name=book) }}" class="columnFormat">
                    <img src="{{ url_for('static', filename='img/cover.png') }}" alt="Cover">
                    <span class="book-title">{{ book }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>

